.team-list-container {
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.left .item {
    background-color: black;
    margin-top: 20px;
    font-size: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.right .item {
    background-color: black;
    margin-top: 8px;
}

.item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-item {
    color: #da8e00;
    background: -webkit-linear-gradient(
        -45deg,
        red,
        #da8e00,
        #edac06,
        #f7de05,
        #ecb802,
        #daaf08,
        #b67b03,
        #da8e00,
        #edac06,
        #f7de05,
        #ecb802,
        #edac06
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
